.venv/
__pycache__/
.DS_Store
.idea/
projects/rich
*.pyc
*.sqlite3
src/logs/metrics_log.jsonl
*.pyo
.uv/
uv.lock
.ruff_cache/
.pre-commit/
.pre-commit-cache/
inzynierka_pro1.egg-info/
src/app/.env
data/embeddings/